<!-- add_post.html -->
{% extends "base.html" %}
{% block content %}
    <h1 class="mb-4">{{ product.title }}</h1>
    <div class="row">
    <div class="col-4">
      <img src="{{ product.photo.url }}" alt="{{ product.title }}" class="w-100">
    </div>
    <div class="col-8">
      <h3 class="mb-2 text-muted">Cost: {{ product.cost }}</h3>
      <h3 class="mb-2 text-muted">Status: {{ product.get_status_display }}</h3>
        <p>{{ product.description }}</p>
    </div>

      {% if product.purchases.exists %}
        <p>
          Users previously purchased this product:
          <ul>
            {% for purchase in product.purchases.all %}
              <li>{{ purchase.user.username }}</li>
            {% endfor %}
          </ul>
        </p>
      {% endif %}

    <div class="container">
          {% if user.is_authenticated %}
        <form method="POST" class="mt-4">
          {% csrf_token %}
          {% if favorite_products %}
            <input type="hidden" name="action" value="delete">
            <button type="submit" class="delete btn btn-primary">Delete from favorites</button>
          {% else %}
            <input type="hidden" name="action" value="add">
            <button type="submit" class="add btn btn-primary">Add to favorites</button>
          {% endif %}
        </form>
      {% endif %}
</div>
    </div>

{% endblock %}